ul{
    background-color: cornflowerblue;
    width: 100%;
    top:0;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
li{
    float: left;
}
li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
}
li a:hover{
    background-color: blue;
}
.continer{
    width: 700px;
    margin: 0 auto;
}
.block{
    display: block;
    padding: 0px 20px 50px;
}
img{
    float: left;
    width: 300px;
    height: 200px;
    padding-right: 10px;
}
.obu{
    float: right;
}
.more{
    float: right;
}




